.par_1{
	color:red;
	background-color:white;
}
.cgb_2{
	color:pink;
	background-color:purple;
}
.ftgfd_3{
	color:orange;
	background-color:black;
}
#d_1{
	color:green;
	background-color:yellow;
}
#d_2{
	color:yellow;
	background-color:green;
}
body{
	background-color:silver;
}